<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>

    <body>
        <%- include('../partials/_navbar') %>
        <form action="/login" method="POST">
            <% if (typeof error !=='undefined' ) { %>
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Danger</p>
                    </div>
                    <div class="message-body">
                        <%= error.message %>
                    </div>
                </article>
                <% } %>
                <legend>Login</legend>
                <fieldset>
                    <div class="new__post__image">
                        <input type="email" class="input" placeholder="Email" name="email" >
                    </div>
                    <div class="new__post__description">
                        <input type="password" class="input" placeholder="Password" name="password" >
                    </div>

                    <div>
                        <button class="button ">Log In</button>
                    </div>
                </fieldset>
        </form>

    </body>