<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/gallery">
            <img src="https://i.imgur.com/N8S72KQ.png" id="td__logo" />
            Gallery
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <form>
        <div class="searchbar">
            <input action="gallery" class="input" type="search" placeholder="Search" name="q">
            <input type="submit" class="button" id="search__button" value="Search">
        </div>
    </form>
    <!-- this will add a link to the new route -->
    <div class="navbar-menu navbar-end">
        <% if (typeof user !=='undefined' ) { %>

            <%= user.username %>

                <% } %>
                    <% if (typeof routes !=='undefined' ) { %>
                        <% routes.forEach((route)=> { %>
                            <a class="navbar-item" href="<%= route.href %>">
                                <%= route.title %>
                            </a>
                            <% }) %>
                                <% } %>
    </div>
</nav>