<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head') %>

    <body>
        <%- include('./partials/_navbar') %>
    <section>
        <div>
            <img width="300px"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.zbrushcentral.com%2Fuploads%2Fdefault%2Foriginal%2F4X%2Fa%2F9%2F4%2Fa94102cb7a342d38bd1ae02e2a0c76dcd0d513e1.jpeg&f=1&nofb=1"
                alt="not found" />
            <p class="title">404 Not Found 😞</p>
            <% if (error) { %>
                <p>
                    <%= error.message %>
                </p>
                <% } %>
        </div>
    </section>
    <main>
        <div>
            <div>
                <a href="/gallery">Back To All Gallery</a>
            </div>
        </div>
    </main>
</body>

</html>