<!-- Start Landing Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Ticket Diary</title>
    <link rel="shortcut icon" href="/styles/logo.svg">
</head>

<body class="wrapper">


    <div class="landing-page">
        <div class="container">
            <img class="logo" src="/styles/logo.svg">
            <h1>Ticket Diary</h1>

            <div class="info">
                <h1>Discover Movies</h1>
                <ul>
                    <li>Basically an instagram for movie lovers.</li>
                    <li>Share a movie that you watched.</li>
                    <li>Keep a diary of thoughts, analysis, feelings, and reviews of films you watched.</li>
                </ul>

                <a href="/register"> <button>Sign Up</button></a>
                <a href="/gallery"> <button>Gallery</button></a>

            </div>
            <div class="image">
                <img src="resources/havingfun.png">
            </div>
            <div class="clearfix"></div>
        </div>

        <h3>Developed by Arnav Singh |<a href="https://github.com/pandaOnCode"><i class="fab fa-github-square"></i></a>|
            and Brian Pham |<a href="https://github.com/brianhung7"><i class="fab fa-github-square"></i></a>|</h3>

    </div>

    <!-- End Landing Page -->

</body>

</html>