<!-- Start Landing Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>

<body>
    <div class="landing-page">
        <div class="container">
            <div class="header-area">
                <div class="logo">Ticket Diary</div>

            </div>
            <div class="info">
                <h1>Discover Movies</h1>
                <p>Basically an instagram for movie lovers </p>
                <p>Share a movie that you watched</p>
                <p>Keep a diary of thoughts, analysis, feelings, and reviews of films you watched</p>
                <p></p>
                <button>Sign Up</button>

            </div>
            <div class="image">
                <img src="../resources/havingfun.png">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- End Landing Page -->

</body>

</html>