.form__container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-top: 12vh;
    color: seashell;
}
#form__box{
    border-radius: 10px;
    padding: 15px 35px 25px 35px;
    background-color: seashell;
}

body{
    background-color: #18222c;
}

.form__input{
    margin: 10px 0px 10px 0px;
}

.form__button{
    justify-content: center;
}