.navbar.is-fixed-top{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    background-color: #18222c;
    padding: 15px;
}

#td__logo{
    width: 40px;
}
.navbar a{
    color: #ff5757;
   padding: 20px;
}
.navbar a:hover {
    
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    transition: width 2s;
  } 

 
.input{
    width: 300px;
  height: 45px;
  border-radius: 30px;
  outline: none;
  padding-left: 15px;
  background: #000000; 
  border: 2px solid #013243;
  color: rgb(255, 255, 255); 
}

#search__button{
    font-family:'Inconsolata', monospace ;
    text-align: center;
    background-color: black;
    color:#ff5757; ;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20%;
}
  