.navbar.is-fixed-top{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    background-color: #18222c;
    padding-bottom: 30px;
}

#td__logo{
    width: 40px;
}
.navbar a{
   padding: 20px;
}
.navbar a:hover {
    background-color: #ff5757;
    border-radius: 25%;
  } 

 
.input{
    width: 500px;
  height: 45px;
  border-radius: 30px;
  outline: none;
  padding-left: 15px;
  background: #fff;
  border: 2px solid #013243;
  color: #888; 
}

#search__button{
    color: red;
}
  